html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

header {
  font-size: xx-large;
  text-align: center;
}

main {
  font-size: 160%;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: cadetblue;
}

a:visited {
  color: cadetblue;
}

a:hover {
  text-decoration: underline;
  font-size: 161%;
}
